.c-button {
  @include flex-gap(0, 8px);
  min-width: 204px;
  width: fit-content;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 48px;
  @include button-text;
  border: none;
  outline: none;
  padding: 0 24px;

  &--primary {
    background: $grey-0;
    color: $grey-100;
  }

  &--secondary {
    border: 2px solid $grey-0;
    background: $bg-shade-1;
    color: $grey-0;
  }

  &--tertiary {
    background: $primary-blue;
    color: $grey-100;
    min-width: 234px;
    width: fit-content;

    @include media("<=tablet") {
      height: 60px;
    }
  }

  @include media("<=phone") {
    min-width: 350px;

    &--tertiary {
      background: $secondary-blue;
      color: $grey-0;
      min-width: 200px;
      height: 54px;
    }
  }
}
