.c-button {
  @include flex-gap(0, 0.8rem);
  min-width: 20.4rem;
  width: fit-content;
  height: 6.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4.8rem;
  @include button-text;
  border: none;
  outline: none;
  padding: 0 2.4rem;
  text-decoration: none;

  &--primary {
    background: $grey-0;
    color: $grey-100;
  }

  &--secondary {
    border: 0.2rem solid $grey-0;
    background: $bg-shade-1;
    color: $grey-0;
  }

  &--tertiary {
    background: $primary-blue;
    color: $grey-100;
    min-width: 23.4rem;
    width: fit-content;

    @include media("<=tablet") {
      min-height: 6rem;
      height: fit-content;
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;
    }
  }

  @include media("<=phone") {
    max-width: 35rem;
    width: 80%;

    &--tertiary {
      background: $secondary-blue;
      color: $grey-0;
      min-width: 20rem;
      min-height: 5.4rem;
      height: fit-content;
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;
    }
  }
}
