.c-faq {
  display: inline;
  flex-direction: column;
  cursor: pointer;
  width: 100%;

  &__question {
    @include title-2;
    background-color: $bg-shade-1;
    display: flex;
    color: $grey-20;
    padding: 25px 24px;
    border-radius: 24px;
    align-items: center;
    justify-content: space-between;
  }
  &__answer {
    @include title-2;
    background-color: $grey-0;
    color: $grey-100;
    padding: 25px 24px;
    border-radius: 24px;
  }
}
