.c-footer {
  background-color: $grey-0;
  padding: 4.8rem 0;

  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 8.6%;

    @include media("<=phone") {
      flex-direction: column;
      padding: 4rem 2.4rem;
      gap: 4.8rem 0;
    }
  }

  &__logo {
    position: relative;
    width: 15.7rem;
    height: 8rem;
    overflow: hidden;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__list__group {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 2.4rem 0;

    @include media("<=phone") {
      gap: 2rem 0;
    }

    &__item {
      color: $grey-100;
      font-weight: 500;
      text-decoration: underline;
      cursor: pointer;
      @include body-3;

      @include media("<=tablet") {
        @include body-5;
      }

      @include media("<=phone") {
        @include body-4;
      }
    }
  }

  &__follow__container {
    text-decoration: none !important;

    &__title {
      margin-bottom: 1.6rem;
      display: block;
    }

    &__icons {
      display: flex;
      align-items: center;
      gap: 0 1.2rem;
      overflow: hidden;

      svg {
        min-width: 2.2rem;
        cursor: pointer;
      }
    }
  }

  &__note {
    color: $grey-100;
    text-align: center;
    margin-top: 4.8rem;
    @include body-3;

    @include media("<=tablet") {
      @include body-5;
    }

    @include media("<=phone") {
      @include body-4;
      text-align: start;
    }
  }
}
