.c-preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: $bg-shade-1;

  @supports (height: 100dvh) {
    height: 100dvh;
  }

  &__top-logo {
    @include ratio(24, 49.651);
    width: 49.651px;
    position: absolute;
    @include transformed-position(
      (
        left: 124,
        top: 48,
      )
    );

    &__svg {
      width: 100%;
      height: 100%;
      transform: translateY(100%);
    }
  }

  %eye-animation {
    @keyframes moveEyeBrows {
      0% {
        transform: translateY(0);
      }

      50% {
        transform: translateY(2.5px);
      }

      100% {
        transform: translateY(0);
      }
    }

    @keyframes scaleEyes {
      0% {
        transform: scaleY(1);
      }

      50% {
        transform: scaleY(0.2);
      }

      100% {
        transform: scaleY(1);
      }
    }

    &.play-animation {
      .eye {
        animation: scaleEyes 700ms linear infinite;
      }

      .eyebrow {
        animation: moveEyeBrows 700ms cubic-bezier(0.33, 0, 0.67, 1) infinite;
      }
    }
  }

  &__bami {
    @extend %eye-animation;
    @include ratio(1, 1);
    width: 200px;
    position: absolute;
    opacity: 0;
    @include transformed-position(
      (
        left: 160,
        top: 313,
      )
    );
  }

  &__akin {
    @extend %eye-animation;
    @include ratio(1, 1);
    width: 200px;
    position: absolute;
    opacity: 0;
    @include transformed-position(
      (
        left: 1031,
        top: 462,
      )
    );
  }

  &__middle-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__gdg {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    overflow: hidden;

    &__logo {
      @include ratio(24, 49.651);
      display: inline-block;
      height: 26.53px;
      margin-right: 12px;
    }

    &__developer {
      margin: 0 7px 0 9px;
      display: inline-block;
    }

    svg {
      transform: translateY(105%);
    }
  }

  &__devfest {
    display: flex;

    &__text {
      padding-top: 10px;
      height: 116px;
      overflow: hidden;

      svg path {
        transform: translateY(106px);
      }
    }

    &__side-content {
      display: flex;
      flex-direction: column;
      margin-left: 13px;
    }

    &__twennythree {
      display: inline-block;
      margin-bottom: 103px;
      overflow: hidden;

      svg path {
        transform: translateY(34px);
      }
    }

    &__lagos {
      overflow: hidden;
      height: 37px;

      svg {
        transform: translateY(37px);
      }
    }
  }

  &__loading {
    position: absolute;
    @include transformed-position(
      (
        left: 124,
        bottom: 48,
      )
    );
    @include heading-4;
    color: $grey-0;
    overflow: hidden;

    span {
      display: inline-block;
      transform: translateY(100%);
    }
  }

  &__progress {
    position: absolute;
    @include transformed-position(
      (
        right: 124,
        bottom: 48,
      )
    );
    @include heading-4;
    color: $grey-0;
    overflow: hidden;

    &__inner {
      display: flex;
      max-height: 48.5px;
      overflow: hidden;
      transform: translateY(100%);
    }

    &__column {
      display: grid;
      grid-template-rows: repeat(10, 1fr);
      transform: translateY(-900%);
    }
  }
}
