.c-countdown {
  padding: 0 8.4% 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $grey-0;

  @include media("<=tablet") {
    padding: 0 24px 94px;
  }

  &__dates {
    width: fit-content;
    padding: 15px 36px;
    background: $secondary-green;
    @include heading-5;
    color: $secondary-grey;
    text-align: center;
    border-radius: 24px;
    margin-bottom: 48px;

    .strikethrough {
      text-decoration: line-through;
    }

    @include media("<=tablet") {
      @include body-2;
      margin-bottom: 24px;
    }

    @include media("<=phone") {
      @include body-4;
      margin-bottom: 16px;
    }
  }

  &__title {
    @include heading-3;
    color: $grey-100;
    margin-bottom: 48px;

    @include media("<=tablet") {
      @include heading-5;
      margin-bottom: 24px;
    }

    @include media("<=phone") {
      @include heading-5;
      margin-bottom: 16px;
    }
  }

  &__clock {
    display: flex;
    margin-bottom: 48px;
    @include flex-gap(0, 55px);

    @include media("<=tablet") {
      margin-bottom: 24px;
      @include flex-gap(0, 30px);
    }

    @include media("<=phone") {
      margin-bottom: 16px;
      @include flex-gap(0, 0);
      width: 100%;
      justify-content: space-between;
    }

    &__slot {
      color: $grey-100;

      @include media("<=phone") {
        flex-basis: 23.5%;
        flex-shrink: 0;
      }

      &__value {
        @include ratio(1, 1);
        width: 140px;
        border-radius: 20px;
        background: $primary-green;
        align-items: center;
        justify-content: center;
        display: flex;
        @include heading-3;

        @include media("<=tablet") {
          @include heading-5;
          width: 84px;
        }

        @include media("<=phone") {
          @include title-2;
          width: 100%;
        }
      }

      &__label {
        @include title-2;
        margin-top: 18px;
        display: inline-block;
        text-align: center;
        width: 100%;

        @include media("<=tablet") {
          @include body-4;
        }
      }
    }
  }
}
