html {
  box-sizing: border-box;
  font-size: 62.5%;
  overscroll-behavior: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 1600px) {
  html {
    font-size: calc(100vw / 2400 * 10);
  }
}

body {
  width: 100vw;
  overflow-x: hidden;
}

// resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: calc(-0.025 * 16px);
  color: $grey-0;
  height: 100dvh;

  &.no-scroll {
    overflow: hidden;
    touch-action: none;
  }
}

button {
  cursor: pointer;
  color: inherit;
}

[data-marquee] {
  width: fit-content;
  position: relative;
  will-change: transform;
  display: flex;
  animation: marquee 25s linear infinite;

  [data-marquee-item] {
    white-space: nowrap;
  }

  @keyframes marquee {
    0% {
      transform: translate3d(0%, 0, 0);
    }

    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }
}

.container {
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;

  @include media("<=desktop") {
    max-width: 1320px;
  }
  @include media("<=desktop-sm") {
    max-width: 900px;
  }
  @include media("<=tablet") {
    max-width: 720px;
  }
}
