@mixin heading-1 {
  font-size: 7.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.2rem;
}

@mixin heading-2 {
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.05rem;
}

@mixin heading-3 {
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin heading-4 {
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@mixin heading-5 {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.05rem;
}

@mixin title-1 {
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@mixin title-2 {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@mixin body-1 {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.8rem;
}

@mixin body-2 {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@mixin body-3 {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem;
}

@mixin body-4 {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@mixin body-5 {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@mixin button-text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
