$grey-0: #000000;
$grey-10: #1c1c1c;
$grey-20: #333333;
$grey-30: #4d4d4d;
$grey-40: #666666;
$grey-50: #808080;
$grey-60: #999999;
$grey-70: #b3b3b3;
$grey-80: #cccccc;
$grey-90: #e6e6e6;
$grey-100: #ffffff;

$primary-blue: #4285f4;
$primary-green: #34a853;
$primary-yellow: #f9ab00;
$primary-red: #ea4335;

$secondary-blue: #8ab4f8;
$secondary-green: #81c995;
$secondary-yellow: #fde293;
$secondary-red: #f28b82;
$secondary-grey: #0d0d0d;

$bg-shade-1: #fffaeb;
$bg-shade-2: #fffefa;
$bg-shade-3: #f1ede0;

$overlay-1: rgba(10, 10, 10, 0.5);
$overlay-2: rgba(30, 30, 30, 0.2);


%page {
  width: 100vw;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
