$grey-0: #000000;
$grey-10: #1C1C1C;
$grey-20: #333333;
$grey-30: #4D4D4D;
$grey-40: #666666;
$grey-50: #808080;
$grey-60: #999999;
$grey-70: #B3B3B3;
$grey-80: #CCCCCC;
$grey-90: #E6E6E6;
$grey-100: #FFFFFF;


$primary-blue: #4285F4;
$primary-green: #34A853;
$primary-yellow: #F9AB00;
$primary-red: #EA4335;

$secondary-blue: #8AB4F8;
$secondary-green: #81C995;
$secondary-yellow: #FDE293;
$secondary-red: #F28B82;
$secondary-grey: #0D0D0D;

$bg-shade-1: #FFFAEB;
