@import "core/variables";
@import "core/typography";
@import "utils/breakpoints";

.faq {
  display: inline-flex;
  flex-direction: column;
  row-gap: 0.8rem;
  cursor: pointer;
  width: 100%;
}

.faqQuestion {
  @include title-2;
  background-color: $bg-shade-1;
  display: flex;
  color: $grey-20;
  padding: 2.5rem 2.4rem;
  border-radius: 2.4rem;
  align-items: center;
  justify-content: space-between;

  @include media("<=tablet") {
    padding: 1.2rem;
    @include body-5;
    border-radius: 1.2rem;
  }

  @include media("<=phone") {
    padding: 1.6rem;
    @include body-2;
    border-radius: 2.4rem;
  }
}

.faqAnswer {
  @include title-2;
  background-color: $grey-0;
  color: $grey-100;
  padding: 2.5rem 2.4rem;
  border-radius: 2.4rem;

  @include media("<=tablet") {
    padding: 1.2rem;
    @include body-5;
    border-radius: 1.2rem;
  }

  @include media("<=phone") {
    padding: 1.6rem;
    @include body-2;
    border-radius: 2.4rem;
  }

  & a {
    color: $primary-green;
    text-decoration: none;
  }
}

.faqSvg {
  width: 3.2rem;
  min-width: 3.2rem;

  @include media("<=tablet") {
    width: 1.6rem;
    min-width: 1.6rem;
  }

  @include media("<=phone") {
    width: 3.2rem;
    min-width: 3.2rem;
    margin-left: 3.2rem;
  }
}
