@use "../../styles/core/variables" as v;
@use "../../styles/utils/breakpoints" as b;

.menu {
  position: relative;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: v.$bg-shade-1;
  padding: 0 8.6%;

  @include b.media("<=desktop-sm") {
    height: 9.6rem;
    padding: 0 4.17%;
  }

  @include b.media("<=tablet") {
    height: 5.6rem;
    padding: 0 2.4rem;
  }
}

.logo {
  width: 12.5rem;
  min-width: 12.5rem;
  overflow: hidden;
  display: flex;

  svg {
    width: 100%;
  }

  @include b.media("<=desktop-sm") {
    width: 9.4rem;
    min-width: 9.4rem;
  }

  @include b.media("<=tablet") {
    width: 7.8rem;
    min-width: 7.8rem;
  }
}

.items,
.navItems {
  display: flex;
  align-items: center;
  column-gap: 3.2rem;
}

.navItems {
  overflow: hidden;
}

.items {
  @include b.media("<=desktop-sm") {
    column-gap: 0.8rem;
  }
  @include b.media("<=tablet") {
    display: none;
  }
}

.navItems {
  @include b.media("<=desktop-sm") {
    column-gap: 0.2rem;
  }
  @include b.media("<=tablet") {
    display: flex;
    flex-direction: column;
    row-gap: 3.2rem;
    align-items: flex-start;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.navItem {
  list-style: none;
  display: flex;
  overflow: hidden;
}

.link {
  color: v.$grey-50;
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0.8rem;

  @include b.media("<=desktop-sm") {
    font-size: 1.6rem;
  }
}

.cta {
  display: flex;
  column-gap: 0.8rem;

  path:first-child {
    transform-origin: center;
  }

  path:last-child {
    transform-origin: left;
  }
  @include b.media("<=desktop-sm") {
    height: 5.9rem;

    &Icon {
      display: none;
    }
  }
}

.hamburger {
  border: none;
  background-color: transparent;

  @include b.media(">tablet") {
    display: none;
  }
}

.mobileNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: v.$bg-shade-1;
  z-index: 2;
}

.mobileItems {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  padding: 4.8rem 2.4rem;
}
