@import "utils/mixins";
@import "utils/breakpoints";
@import "core/typography";
@import "core/variables";

.categoryPill {
  padding: 1.2rem 1.6rem;
  border: 0.15rem solid $grey-40;
  color: $grey-60;
  border-radius: 4.8rem;
  background: transparent;
  width: fit-content;
  @include title-2;
  transition: 300ms;

  &.isSmall {
    @include body-2;
  }

  &.isClickable {
    cursor: pointer;
  }

  &.active {
    border-color: var(--active-bg-color);
    background: var(--active-bg-color);
    color: var(--active-text-color);
  }

  @include media("<=tablet") {
    @include body-5;
    padding: 0.6rem 0.8rem;
  }

  @include media("<=phone") {
    @include body-2;
    padding: 1.2rem 1.6rem;
  }
}
