.fq__header {
  background: $bg-shade-1;
  position: relative;
  height: 500px;
  padding-top: 130px;

  @include media("<=tablet") {
    height: 75vh;
    padding-top: 35vh;
  }

  &__title {
    @include heading-1;
    position: relative;
    width: fit-content;
    color: $grey-0;
    text-align: center;
    margin: 0 auto;
    white-space: pre-wrap;
    z-index: 2;

    @include media("<=tablet") {
      @include heading-4;
    }

    &__svg {
      position: absolute;
      top: -117px;
      left: -58px;

      @include media("<=tablet") {
        top: -41px;
        left: -30px;
        width: 81px;
        height: 67px;
      }
    }
  }

  &__menu-doodle {
    @include ratio(190, 212);
    position: absolute;
    top: 34%;
    left: 12.16%;
    width: 81.879px;
    transform: rotate(13deg);

    @include media("<=tablet") {
      width: 61.41px;
      top: 36%;
      left: 9.29%;
    }
  }

  &__move-doodle {
    @include ratio(116, 136);
    position: absolute;
    left: 29.5%;
    bottom: 12%;
    width: 86.034px;

    @include media("<=tablet") {
      width: 64.53px;
      bottom: 26.167%;
      left: initial;
      right: 27.145%;
    }
  }

  &__logic-doodle {
    @include ratio(512, 1117);
    position: absolute;
    width: 137.711px;
    top: 9.4%;
    left: 45.24%;

    @include media("<=tablet") {
      width: 103.28px;
      top: 31.64%;
      right: 38.89583%;
    }
  }

  &__people-doodle {
    @include ratio(512, 787);
    position: absolute;
    width: 128.097px;
    bottom: 6.724%;
    right: 24.8%;

    @include media("<=tablet") {
      display: none;
    }
  }

  &__transfer-doodle {
    @include ratio(152, 299);
    position: absolute;
    width: 144.351px;
    top: 33%;
    right: 11.164%;

    @include media("<=tablet") {
      display: none;
    }
  }

  &__cloud-doodle {
    display: none;
    @include ratio(160, 235);
    position: absolute;
    width: 80.72px;
    bottom: 26.167%;
    left: 27.865%;

    @include media("<=tablet") {
      display: block;
    }
  }

  &__refresh-doodle {
    display: none;
    @include ratio(512, 588);
    position: absolute;
    width: 62.9px;
    top: 38.28%;
    right: 11.862%;

    @include media("<=tablet") {
      display: block;
    }
  }
}

.fq__list {
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 24px 0;

  @include media("<=tablet") {
    padding: 42px 32px;
  }

  @include media("<=phone") {
    padding: 50px 16px;
  }
}
