.c-home {
  @extend %page;
  background: $bg-shade-1;

  &__nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 10rem;

    &__logo {
      @include ratio(84, 165);
      position: relative;
      width: 16.5rem;
    }

    @include media("<=phone") {
      padding: 1.6rem 0 0;
    }
  }

  &__intro {
    padding: 13.2rem 0 23.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @include media(">=LGdesktop") {
      min-height: min(96rem, 90vh);
    }

    @include media("<=tablet") {
      padding-top: 24.7rem;
    }

    @include media("<=phone") {
      padding: 8.7rem 0 13.7rem;
    }

    %doodle {
      transform: rotate(26.766deg);
      opacity: 0;
      position: absolute;
    }

    &__globe-doodle {
      @include ratio(109, 118);
      top: 0;
      left: 7.2%;
      width: 11.8rem;
      @extend %doodle;

      @include media("<=tablet") {
        width: 9.4984rem;
      }

      @include media("<=phone") {
        width: 7.625rem;
        left: 50%;
        top: 86%;
      }
    }

    &__people-doodle {
      @include ratio(134, 235.005);
      top: 4rem;
      right: 14%;
      width: 23.5005rem;
      @extend %doodle;

      @include media("<=tablet") {
        width: 16.4504rem;
      }

      @include media("<=phone") {
        width: 7.7616rem;
        right: 0.5rem;
        top: 4.2rem;
      }
    }

    &__repeat-doodle {
      @include ratio(109, 130.623);
      bottom: 8.7rem;
      left: 19.9%;
      width: 13.0623rem;
      @extend %doodle;

      @include media("<=tablet") {
        display: none;
      }

      @include media("<=phone") {
        width: 5.0332rem;
        left: 0.4rem;
        top: 29.4rem;
      }
    }

    &__video-doodle {
      @include ratio(109, 148.116);
      bottom: 5rem;
      right: 18%;
      width: 14.8116rem;
      @extend %doodle;

      @include media("<=tablet") {
        width: 11.8493rem;
      }

      @include media("<=phone") {
        width: 7.3378rem;
        left: 0.3rem;
        top: -1.5rem;
      }
    }

    &__title {
      @include heading-1;
      color: $grey-0;
      opacity: 0;

      @include media("<=tablet") {
        @include heading-4;
      }

      @include media("<=phone") {
        @include heading-3;
        text-align: center;
        max-width: 37.9rem;
      }

      span {
        display: inline-block;
      }
    }

    &__subtext {
      @include title-2;
      line-height: 4.15rem;
      text-align: center;
      color: rgba(0, 0, 0, 0.59);
      margin: 2.4rem 0 3rem;
      max-width: 94rem;

      @include media("<=tablet") {
        @include body-2;
        margin: 1.6rem 0;
      }

      @include media("<=phone") {
        @include body-3;
        max-width: 37.9rem;
        padding: 0 1.6rem;

        br {
          display: none;
        }
      }

      & .red {
        color: $primary-red;
      }

      & .blue {
        color: $primary-blue;
      }

      & .yellow {
        color: $primary-yellow;
      }
    }

    &__buttons {
      display: flex;
      align-items: center;
      justify-content: center;

      .c-button:last-child {
        margin-left: 2.4rem;
      }

      @include media("<=tablet") {
        flex-direction: column;

        .c-button:last-child {
          margin-left: 0;
          margin-top: 1.6rem;
          width: fit-content;
          min-width: 20rem;
        }
      }
    }
  }

  &__apply__form__section {
    display: flex;
    justify-content: center;
    padding: 4.8rem 0;

    iframe {
      min-height: calc(100vh - 30rem);
    }
  }

  &__marquee-wrapper {
    background: $primary-yellow;
  }

  &__marquee {
    height: 8.6rem;
    display: flex;
    align-items: center;
    animation-duration: 40s;

    @include media("<=tablet") {
      height: 5.6rem;
    }

    @include media("<=phone") {
      height: 4.8rem;
    }

    &__item {
      padding-right: 2rem;
      display: flex;
      align-items: center;

      svg {
        height: 3.6rem;
      }
    }

    &__icon {
      @include ratio(1, 1);
      width: 4rem;
      display: inline-block;

      @include media("<=tablet") {
        width: 2.6rem;
      }
    }

    &__text {
      @include title-2;
      color: $grey-0;
      margin-left: 1.2rem;

      @include media("<=tablet") {
        @include body-3;
      }
    }
  }

  &__recap {
    padding: 13.4rem 8.4% 55.8rem;
    position: relative;
    overflow: hidden;

    @include media(">=LGdesktop") {
      padding: 20vh 8.4% 80vh;
    }

    @include media("<=tablet") {
      padding: 7.1rem 0 42.5rem;
    }

    @include media("<=phone") {
      padding: 5.8rem 0 28.7rem;
    }

    &__title {
      min-height: 11.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      @include heading-3;
      color: $grey-100;
      position: relative;
      background: $primary-green;
      max-width: 90rem;
      width: 90%;
      padding: 1.6rem;
      border-radius: 6.4rem;

      @include media("<=tablet") {
        min-width: 41.5rem;
        width: fit-content;
        min-height: 6rem;
        margin-left: 1.6rem;
        padding: 0 2.6rem;

        @include title-1;
      }

      @include media("<=phone") {
        @include title-2;
        width: 90%;
        max-width: 37.2rem;
        min-width: unset;
        padding: 1rem 1.6rem;
        min-height: unset;
      }
    }

    &__arrow {
      @include ratio(109, 216);
      position: absolute;
      top: 60%;
      left: calc(100% - 8.1rem);
      width: 21.6rem;
      transform: rotate(26.766deg);

      @include media("<=tablet") {
        width: 13.64rem;
        left: calc(100% - 5.4rem);
        transform: rotate(42.266deg);
      }

      @include media("<=phone") {
        width: 14.31rem;
        top: 50%;
        left: 65%;
        transform: rotate(21.343deg);
      }
    }

    %recap-image {
      position: absolute;
      overflow: hidden;
      opacity: 0;

      img {
        object-fit: cover;
      }
    }

    &__image-1 {
      @extend %recap-image;
      left: 6.875%;
      bottom: -6.7rem;
      @include ratio(317, 398);
      width: 27.6vw;
      transform: rotate(9.816deg);
      z-index: 2;

      @include media("<=desktop-sm") {
        left: 0;
        bottom: -3.9rem;
        width: 25.455rem;
        transform: rotate(10.066deg);
      }

      @include media("<=phone") {
        left: -7.4vw;
        bottom: -3rem;
        width: 16.0341rem;
        transform: rotate(9.816deg);
      }
    }

    &__image-2 {
      @extend %recap-image;
      left: 16.18%;
      bottom: 10rem;
      @include ratio(317, 422);
      width: 29.3vw;
      transform: rotate(-8.738deg);
      z-index: 1;

      @include media("<=desktop-sm") {
        left: 11.07vw;
        width: 27.037rem;
        bottom: 6.5rem;
        transform: rotate(-8.963deg);
      }

      @include media("<=phone") {
        left: 4.88vw;
        bottom: 2.8rem;
        width: 17.028rem;
        transform: rotate(-8.738deg);
      }
    }

    &__image-3 {
      @extend %recap-image;
      left: 34.3%;
      bottom: -6.1rem;
      @include ratio(200, 413);
      width: 28.68vw;
      transform: rotate(-8.433deg);
      z-index: 5;

      @include media("<=desktop-sm") {
        left: 32.8125vw;
        bottom: -4.8rem;
        width: 26.4rem;
        transform: rotate(-8.652deg);
      }

      @include media("<=phone") {
        left: 29.3vw;
        bottom: -3.6rem;
        width: 16.6384rem;
        transform: rotate(-8.433deg);
      }
    }

    &__image-4 {
      @extend %recap-image;
      left: 39.375%;
      bottom: 10rem;
      @include ratio(63.5, 100);
      width: 27.78vw;
      transform: rotate(15.25deg);

      @include media("<=desktop-sm") {
        left: 38.93vw;
        width: 25.55rem;
        bottom: 6.55rem;
        transform: rotate(15.594deg);
      }

      @include media("<=phone") {
        left: 39vw;
        bottom: 3rem;
        width: 16.1146rem;
        transform: rotate(15.25deg);
      }
    }

    &__image-5 {
      @extend %recap-image;
      left: 61.25%;
      bottom: -6.4rem;
      @include ratio(267, 357);
      width: 24.8vw;
      transform: rotate(7.82deg);
      z-index: 4;

      @include media("<=desktop-sm") {
        left: 65.23vw;
        width: 22.839rem;
        bottom: -3.9rem;
        transform: rotate(8.025deg);
      }

      @include media("<=phone") {
        left: 68vw;
        bottom: -3rem;
        width: 14.3823rem;
        transform: rotate(7.82deg);
      }
    }

    &__image-6 {
      @extend %recap-image;
      left: 64.72%;
      bottom: -0.4rem;
      @include ratio(276, 327);
      width: 22.708vw;
      transform: rotate(-14.061deg);
      z-index: 3;

      @include media("<=desktop-sm") {
        left: 69.4vw;
        width: 20.8973rem;
        bottom: -1rem;
        transform: rotate(-14.388deg);
      }

      @include media("<=phone") {
        left: 77.9vw;
        bottom: -0.5rem;
        width: 13.1737rem;
        transform: rotate(-14.061deg);
      }
    }
  }

  &__feedback {
    padding: 8.6rem 8.4% 9.7rem;
    background-color: $primary-blue;
    position: relative;
    z-index: 10;

    @include media("<=tablet") {
      padding: 5.6rem 2.4rem 2.4rem;
    }

    @include media("<=phone") {
      padding: 4.8rem 2.4rem;
    }

    &__title {
      @include heading-4;
      color: $grey-100;
      margin-bottom: 1.8rem;
      text-align: center;

      @include media("<=tablet") {
        @include heading-5;
        margin-bottom: 0.6rem;
      }

      @include media("<=phone") {
        @include title-2;
        max-width: 36rem;
        text-align: center;
        margin: 0 auto 1.2rem;
      }
    }

    &__body {
      padding: 6.3rem 0 4.4rem;
      background-color: $secondary-blue;
      border-radius: 2rem;
      overflow: hidden;

      @include media("<=tablet") {
        padding: 2.4rem 0 2.9rem;
      }

      &-content {
        display: flex;
        flex-direction: column;
        @include flex-gap(3.2rem, 0);

        @include media("<=phone") {
          @include flex-gap(2.4rem, 0);
        }
      }

      &__quotes-row {
        display: flex;
        column-gap: 2.4rem;
        padding-right: 2.4rem;
        align-items: center;
        flex-wrap: nowrap;

        > * {
          flex-shrink: 0;
        }

        @include media("<=tablet") {
          column-gap: 1.6rem;
        }
      }

      &__feedback-t-1 {
        @include ratio(18.2, 39.7);
        width: 39.7rem;
        position: relative;

        @include media("<=tablet") {
          width: 23.4rem;
        }

        @include media("<=phone") {
          width: 16.3rem;
        }
      }

      &__feedback-t-2 {
        @include ratio(19.1, 48.6182);
        width: 48.6182rem;
        position: relative;

        @include media("<=tablet") {
          width: 28rem;
        }

        @include media("<=phone") {
          width: 18.8rem;
        }
      }

      &__feedback-t-3 {
        @include ratio(23.2, 38.965);
        width: 38.965rem;
        position: relative;

        @include media("<=tablet") {
          width: 22.4rem;
        }

        @include media("<=phone") {
          width: 17rem;
        }
      }

      &__feedback-t-4 {
        @include ratio(19.3, 43.3571);
        width: 43.3571rem;
        position: relative;

        @include media("<=tablet") {
          width: 25rem;
        }

        @include media("<=phone") {
          width: 19.3rem;
        }
      }

      &__feedback-b-1 {
        @include ratio(21, 44.2);
        width: 44.2rem;
        position: relative;

        @include media("<=tablet") {
          width: 25.46rem;
        }

        @include media("<=phone") {
          width: 19.5rem;
        }
      }

      &__feedback-b-2 {
        @include ratio(21.4, 52.3);
        width: 52.3rem;
        position: relative;

        @include media("<=tablet") {
          width: 30.125rem;
        }

        @include media("<=phone") {
          width: 23.7rem;
        }
      }

      &__feedback-b-3 {
        @include ratio(19.7, 41.8);
        width: 41.8rem;
        position: relative;

        @include media("<=tablet") {
          width: 24.0768rem;
        }

        @include media("<=phone") {
          width: 17rem;
        }
      }

      &__feedback-b-4 {
        @include ratio(21, 44.8);
        width: 44.8rem;
        position: relative;

        @include media("<=tablet") {
          width: 25.8rem;
        }

        @include media("<=phone") {
          width: 19.833rem;
        }
      }
    }
  }

  &__highlights {
    padding: 13.6rem 8.4%;
    background-color: $grey-0;

    @include media("<=tablet") {
      padding: 2.4rem 2.4rem 12rem;
    }

    @include media("<=phone") {
      padding: 0 0 8.1rem;
    }

    &__body {
      padding: 7rem min(10.27%, 14.8rem) 2.8rem;
      background-color: $primary-red;
      border-radius: 2.4rem;

      @include media("<=tablet") {
        padding: 2.2rem 9rem 7rem;
      }

      @include media("<=phone") {
        border-radius: 0;
        padding: 3.8rem 2.4rem 5rem;
      }
    }

    &__title {
      @include heading-4;
      color: $grey-100;
      text-align: center;
      max-width: 80.9rem;
      margin: 0 auto 3.2rem;

      @include media("<=tablet") {
        @include heading-5;
      }

      @include media("<=phone") {
        @include title-2;
        margin: 0 auto 2.8rem;
      }
    }

    &__youtube {
      @include ratio(1, 1.75);
      display: flex;
      flex-direction: column;
      position: relative;
      overflow: visible !important;

      @include media("<=tablet") {
        @include ratio(33.1246, 53.8);
      }

      @include media("<=tablet") {
        @include ratio(1, 1.436);
      }

      &__highlight-icon {
        @include ratio(5.2, 4.462);
        position: absolute;
        left: 100%;
        top: -4.8rem;
        width: 4.462rem;

        @include media("<=tablet") {
          top: -1rem;
          width: 2.667rem;
        }

        @include media("<=phone") {
          top: -1.6rem;
          width: 3.089rem;
        }
      }

      iframe {
        width: 100%;
        height: 100%;
        border-radius: 3.2rem;
        overflow: hidden;
      }

      &__tease {
        padding: 1rem;
        background-color: $primary-green;
        border-radius: 2.4rem;
        align-self: flex-end;
        @include body-1;
        width: fit-content;
        margin-top: 3.2rem;
        color: $grey-100;
        margin-left: auto;

        @include media("<=tablet") {
          @include body-5;
          margin-top: 2rem;
        }

        @include media("<=tablet") {
          @include body-4;
          margin-top: 1.2rem;
        }
      }
    }
  }

  &__footer {
    height: 19.4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;

    @include media("<=tablet") {
      height: 15.3rem;
      padding: 0 8.45% 0 11.85%;
    }

    @include media("<=phone") {
      height: unset;
      flex-direction: column;
      padding: 1.6rem;
    }

    &__links {
      display: flex;
      flex-direction: column;
      list-style-type: none;

      @include media("<=phone") {
        flex-direction: row;
        column-gap: 3.2rem;
        margin: 1.6rem 0;
      }

      &__link {
        @include body-3;
        text-decoration: underline;

        @include media("<=tablet") {
          @include body-5;
        }

        a {
          color: $grey-0;
        }

        & + & {
          margin-top: 1.6rem;

          @include media("<=phone") {
            margin-top: 0;
          }
        }
      }
    }

    &__logo {
      display: inline-block;
      @include ratio(84, 165);
      width: 23rem;

      @include media("<=tablet") {
        width: 10.347rem;
      }

      @include media("<=phone") {
        order: -1;
        width: 14.2222rem;
      }
    }

    &__social-media {
      display: flex;
      flex-direction: column;

      &__title {
        @include body-3;
        margin-bottom: 1.6rem;
        color: $grey-0;

        @include media("<=tablet") {
          @include body-5;
        }

        @include media("<=phone") {
          text-align: center;
        }
      }

      &__links {
        display: grid;
        grid-template-columns: repeat(5, 2.4rem);
        column-gap: 2.4rem;
        list-style-type: none;

        @include media("<=tablet") {
          grid-template-columns: repeat(5, 1.6rem);
          column-gap: 1.6rem;
        }
      }

      &__link {
        display: flex;
        height: fit-content;

        svg {
          @include ratio(1, 1);
          width: 100%;
        }
      }
    }
  }
}
