.rsvp {
  padding-top: 82px;

  @include media("<=tablet") {
    padding-top: 60px;
  }

  &__title {
    @include heading-1;
    color: $grey-0;
    text-align: center;
    margin: 0 auto 8px;

    &.bookmarked {
      margin-bottom: 40px;
    }

    @include media("<=tablet") {
      @include heading-4;
    }

    @include media("<=phone") {
      @include heading-3;
    }
  }

  &__subtitle {
    @include title-2;
    color: $grey-40;
    max-width: 452px;
    text-align: center;
    margin: 0 auto 24px;

    @include media("<=tablet") {
      @include body-4;
    }

    @include media("<=phone") {
      @include body-1;
      font-weight: 400;
      max-width: 300px;
      margin-bottom: 16px;
    }
  }

  &__days {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    scroll-margin-top: 30px;

    &__day {
      width: 94px;
      height: 40px;
      border: none;
      border-bottom: 2px solid transparent;
      cursor: pointer;
      background: transparent;
      @include body-2;
      color: $grey-50;

      &.is-active {
        border-bottom-color: $grey-0;
        color: $grey-0;
      }
    }
  }

  &__categories {
    margin: 24px 0 40px;
    padding: 0 8.6%;

    @include media("<=tablet") {
      margin-bottom: 24px;
      padding: 0 24px;
    }

    &__inner {
      display: flex;
      flex-wrap: nowrap;
      //overflow-x: hidden;
      width: 100%;
      position: relative;
      overflow: auto;

      @include media("<=phone") {
        flex-wrap: wrap;
        row-gap: 8px;
      }

      //&:after {
      //  background: linear-gradient(
      //    270deg,
      //    #fffaeb 0%,
      //    rgba(255, 250, 235, 0.82) 32.05%,
      //    rgba(255, 250, 235, 0) 100%
      //  );
      //  width: 130px;
      //  height: 100%;
      //  position: absolute;
      //  right: 0;
      //  top: 0;
      //  content: "";
      //}
    }
  }

  &__category {
    font-weight: 400 !important;
    text-transform: capitalize;
    flex-shrink: 0;

    & + & {
      margin-left: 8px;
    }

    &.is-inactive {
      color: $grey-10 !important;
    }
  }

  &__talks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 36px;
    column-gap: 16px;
    margin-bottom: 44px;
    padding: 0 8.6%;

    @include media("<=tablet") {
      grid-template-columns: 1fr;
    }
  }

  &__pagination {
    padding: 0 8.6% 48px;
  }

  &__pagination-text {
    @include title-2;
    color: $grey-40;
    margin-bottom: 16px;
    text-align: right;
    font-weight: 400;

    @include media("<=phone") {
      @include body-3;
      text-align: center;
    }
  }

  &__buttons-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media("<=tablet") {
      flex-direction: column-reverse;
      row-gap: 30px;
      align-items: center;
    }
  }

  &__pagination-buttons {
    display: flex;
    @include flex-gap(0, 16px);

    @include media("<=phone") {
      @include flex-gap(0, 0);
      justify-content: space-between;
      flex-wrap: nowrap;
      width: 100%;

      button {
        width: fit-content;
        min-width: unset;
        margin: 0;
        padding: 0 16px;
      }
    }
  }

  &__current-page {
    height: 66px;
    width: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    border: 2px solid #d9d9d9;
    text-decoration: underline;
  }

  &__menu {
    position: relative;

    &__inner {
      border-radius: 20px;
      border-top: 1px solid #000;
      border-right: 6px solid #000;
      border-bottom: 6px solid #000;
      border-left: 1px solid #000;
      background: #fff;
      display: grid;
      row-gap: 12px;
      padding: 32px 22px;
      position: absolute;
      top: calc(100% + 12px);
      width: 100%;
      transform: translateY(10px);
      opacity: 0;
      transition: 300ms;

      &.is-active {
        transform: translateY(0px);
        opacity: 1;
      }
    }

    &__button {
      @include body-3;
      color: $grey-0;
      background: transparent;
      border: none;
      text-align: left;

      &.sign-out {
        color: $primary-red;
      }
    }
  }
}
