.team {
  &__intro {
    height: calc(100vh - 10rem);
    padding-top: 8.2rem;
    max-height: 70rem;
    display: flex;
    flex-direction: column;
    background: $bg-shade-1;
    align-items: center;

    @include media("<=tablet") {
      padding-top: unset;
      justify-content: center;
      padding-bottom: 10rem;
      height: calc(100vh - 9.6rem);
    }

    @include media("<=phone") {
      padding-top: 3.2rem;
      max-height: unset;
      min-height: 700px;
      height: calc(100vh - 5.6rem);
      padding-bottom: 0;
      justify-content: unset;
    }

    &__header {
      @include heading-1;
      max-width: 89.8rem;
      width: 80%;
      text-align: center;
      color: $grey-0;

      @include media("<=tablet") {
        @include heading-4;
        max-width: 53.8rem;
        margin-bottom: 2.8rem;
      }

      @include media("<=phone") {
        padding: 0 24px;
        width: 100%;
        font-weight: 700;
        margin-bottom: 2rem;
      }
    }

    &__subtext {
      @include title-2;
      width: 60%;
      max-width: 45.2rem;
      text-align: center;
      color: $grey-40;

      @include media("<=tablet") {
        @include body-2;
        max-width: 35rem;
      }

      @include media("<=phone") {
        @include body-1;
        padding: 0 24px;
        width: 100%;
      }
    }
  }

  &__dream {
    padding: 4.8rem 12.4rem 6.4rem;
    background: $bg-3;
    position: relative;
    min-height: 100vh;

    @include media("<=tablet") {
      padding: 4.8rem 3.2rem;
    }

    @include media("<=phone") {
      padding: 1.6rem 0 1.6rem 2.4rem;
    }

    &__top {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      position: relative;

      @include media("<=phone") {
        flex-direction: column;
        justify-content: unset;
      }
    }

    &__header {
      @include heading-4;
      color: $grey-100;
      margin-bottom: 0.8rem;
      max-width: 498px;
      width: 35vw;

      @include media("<=tablet") {
        @include title-2;
        max-width: 23.7rem;
        margin-bottom: 0.4rem;
      }

      @include media("<=phone") {
        width: 100%;
        padding-right: 2.4rem;
        @include heading-5;
        max-width: unset;
        margin-bottom: 1.6rem;
      }
    }

    &__subtext {
      @include title-2;
      color: $grey-80;
      max-width: 49.8rem;
      width: 34.5vw;

      @include media("<=tablet") {
        @include body-5;
        max-width: 20.7rem;
      }

      @include media("<=phone") {
        width: 100%;
        padding-right: 2.4rem;
        @include body-1;
        max-width: unset;
      }
    }

    &__categories {
      display: flex;
      position: relative;
      overflow: auto;
      margin-left: 40px;
      scroll-snap-type: x;

      @include media("<=phone") {
        margin-left: unset;
        margin-top: 24px;
        width: 100%;
        padding-right: 1.6rem;
      }
    }

    --category-width: 9.4rem;

    @include media("<=tablet") {
      --category-width: 6.4rem;
    }

    &__category {
      height: 4rem;
      width: var(--category-width);
      display: flex;
      align-items: center;
      justify-content: center;
      @include body-2;
      color: $grey-70;
      transition: 300ms;
      cursor: pointer;
      flex-shrink: 0;

      &.is-active {
        color: $grey-100;
      }

      @include media("<=tablet") {
        @include body-5;
        scroll-snap-align: start;
      }
    }

    &__active-indicator {
      width: var(--category-width);
      height: 0.2rem;
      border-radius: 0.8rem;
      color: $grey-100;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateX(calc(var(--index) * var(--category-width)));
      transition: 300ms;
      display: block;
      background: $grey-100;
    }
  }

  &__grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.6rem;
    margin-top: 40px;

    @include media("<=tablet") {
      column-gap: 2.4rem;
    }

    @include media("<=tablet-sm") {
      grid-template-columns: 1fr;
    }

    @include media("<=phone") {
      padding-right: 2.4rem;
    }
  }
}
