.team {
  &__intro {
    height: calc(100vh - 10rem);
    padding-top: 8.2rem;
    max-height: 70rem;
    display: flex;
    flex-direction: column;
    background: $bg-shade-1;
    align-items: center;

    &__header {
      @include heading-1;
      max-width: 89.8rem;
      width: 80%;
      text-align: center;
      color: $grey-0;
    }

    &__subtext {
      @include title-2;
      width: 60%;
      max-width: 45.2rem;
      text-align: center;
      color: $grey-40;
    }
  }

  &__dream {
    padding: 4.8rem 12.4rem 6.4rem;
    background: $bg-3;

    &__top {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    &__header {
      @include heading-4;
      color: $grey-100;
      margin-bottom: 0.8rem;
      max-width: 498px;
      width: 35vw;
    }

    &__subtext {
      @include title-2;
      color: $grey-80;
      max-width: 49.8rem;
      width: 34.5vw;
    }

    &__categories {
      display: flex;
      position: relative;
    }

    &__category {
      height: 4rem;
      width: 9.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      @include body-2;
      color: $grey-70;
      transition: 300ms;
      cursor: pointer;

      &.is-active {
        color: $grey-100;
      }
    }

    &__active-indicator {
      width: 9.4rem;
      height: 0.2rem;
      border-radius: 0.8rem;
      color: $grey-100;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateX(calc(var(--index) * 9.4rem));
      transition: 300ms;
      display: block;
      background: $grey-100;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.6rem;
    margin-top: 40px;
  }
}
