@use "../../../styles/utils/breakpoints" as b;

.container {
  background-color: rgb(226, 208, 212);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 18px;
  font-weight: 500;
  @include b.media("<=desktop") {
    font-size: 12px;
  }
}
