@import "core/variables";
@import "core/typography";
@import "utils/breakpoints";
@import "utils/mixins";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 16;
  pointer-events: none;

  &.active {
    pointer-events: auto;

    .modalOverlay {
      opacity: 1;
    }

    .modalContent {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
  }
}

.modalOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $overlay-2;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 300ms;
}

.modalContent {
  margin-right: 12rem;
  padding: 2.4rem;
  max-width: 43.6rem;
  background-color: $bg-shade-1;
  border-radius: 24px;
  border-top: 2px solid #211212;
  border-right: 8px solid #211212;
  border-bottom: 8px solid #211212;
  border-left: 1px solid #211212;

  @include media("<=tablet") {
    margin: 0;
  }
}

.modalClose {
  margin-left: auto;
  border: none;
  background: transparent;
  display: block;

  @include media("<=tablet") {
    margin-bottom: 1.6rem;
  }
}

.modalDecorativeAssets {
  display: flex;
}

.modalEmojiContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  background-color: $grey-90;
  border-radius: 100%;
}

.modalEmojiWrapper {
  @include ratio(60, 48);
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  background-color: $grey-90;
}

.modalArrowWrapper {
  @include ratio(80, 147);
  width: 15rem;
  height: 15rem;
}

.modalImageInner {
  width: 4.5rem;
  height: 6rem;
  object-fit: contain;
}

.modalArrowInner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modalHeading {
  @include heading-4;
  font-weight: 700;
  margin-bottom: 1.6rem;
  line-height: 48px;
}

.modalDescription {
  @include body-3;
  color: $grey-30;
  font-weight: 400;
  margin-bottom: 3.2rem;
}

.modalInputContainer {
  position: relative;
  margin-bottom: 3rem;
}

.modalInput {
  width: 100%;
  border: 0;
  color: $grey-0;
  padding: 2rem 2.4rem;
  border-radius: 32px;
  background-color: $bg-shade-3;

  &:focus {
    border: 1px solid $primary-blue;

    & + .modalInputLabel {
      @include body-5;
      background: linear-gradient(to bottom, #fffaeb 60%, #f1ede0 40%);
      top: -7px;
    }
  }

  &:not(:placeholder-shown) {
    & + .modalInputLabel {
      @include body-5;
      background: linear-gradient(to bottom, #fffaeb 60%, #f1ede0 40%);
      top: -7px;
    }
  }
}

.modalInputLabel {
  color: $grey-30;
  position: absolute;
  top: 2rem;
  left: 2.4rem;
  transition: 300ms ease-in-out;
}

.modalFormInfo {
  @include body-4;
  color: $grey-30;
  margin-top: 1rem;
  text-align: center;
}

.modalProceed {
  width: 100%;
  color: $grey-100;
  background-color: $grey-0;
  cursor: pointer;
  transition: 300ms;
  margin-bottom: 1.6rem;
}

.modalRegister {
  width: 100%;
  cursor: pointer;
  transition: 300ms;
  margin-bottom: 5rem;

  // &:hover {
  //   background-color: darken($primary-blue, 10%);
  // }
}
