@import "core/variables";
@import "core/typography";
@import "utils/breakpoints";
@import "utils/mixins";

.noMatterWhat {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $secondary-grey;
  padding: 4.8rem 0;

  @include media("<=phone") {
    padding: 1.6rem 2.4rem;
  }
}

.title {
  @include heading-4;
  color: $grey-100;
  max-width: 54rem;
  text-align: center;
  margin-bottom: 1.6rem;

  @include media("<=tablet") {
    @include title-2;
  }

  @include media("<=phone") {
    @include heading-5;
    margin-bottom: 2.4rem;
  }
}

.logo {
  @include ratio(73, 323);
  width: 32.3rem;

  overflow: hidden;

  svg {
    width: 100%;
    height: 100%;
  }


  @include media("<=tablet") {
    width: 16.2rem;
  }

  @include media("<=phone") {
    width: 21.5rem;
  }
}

.question {
  margin: 1.6rem 0 3.2rem;
  color: $grey-80;
  @include title-2;

  @include media("<=tablet") {
    @include body-5;
  }

  @include media("<=phone") {
    @include body-1;
  }
}

.button {
  height: 8.4rem;

  @include media("<=tablet") {
    max-width: unset;
    width: fit-content;
    height: unset;
  }
}
