@import "utils/mixins";
@import "utils/breakpoints";
@import "core/variables";

@keyframes rock-boat {
  25% {
    transform: rotate(1deg) translateX(1px) translateY(1px);
  }
  50% {
    transform: rotate(-1deg) translateX(-1px) translateY(-1px);
  }
  75% {
    transform: rotate(1deg) translateX(1px) translateY(1px);
  }
  100% {
    transform: rotate(-1deg) translateX(-1px) translateY(-1px);
  }
}

.container {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.fishermanIllustration {
  height: calc(100% / 2.8);
  aspect-ratio: 339 / 329; // The aspect ratio mixin kinda adds some padding so I just use the regular aspect ratio property
  position: absolute;
  bottom: 20.5%;
  animation: rock-boat 18s infinite;
  transform: rotate(-1deg) translateX(-1px) translateY(-1px);
  @include media("<=phone") {
    bottom: 10%;
    height: calc(100% / 3);
  }
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $bg-shade-1;
}
