@import "utils/mixins";
@import "core/variables";
@import "core/typography";
@import "utils/breakpoints";

.accordion {
  display: flex;
  gap: 0 2.4rem;
  padding: 2.4rem;
  background-color: $grey-10;
  border-radius: 2.4rem;

  @include media("<=tablet") {
    gap: 1.8rem 0;
    padding: 2.4rem 1.6rem;
  }
}

.icon {
  cursor: pointer;
  width: 3.2rem;
  height: 3.2rem;
  min-width: 3.2rem;
  color: $secondary-yellow;
  margin-top: 1rem;
  transition:
    transform 0.3s ease-in-out,
    color 0.3s ease-in-out;

  @include media("<=tablet") {
    margin-top: 0.5rem;
  }
}

.hidden {
  transform: rotate(180deg);
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;

  @include media("<=tablet") {
    gap: 0.75rem;
    padding: 0.8rem 0.75rem;
  }
}

.title {
  @include title-1;
  cursor: pointer;
  color: $bg-shade-2;
  transition: color 0.2s ease-in-out;

  @include media("<=tablet") {
    @include body-2;
  }
}

.active {
  color: $secondary-yellow;
}

.children {
  @include body-2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: $grey-80;
  font-weight: normal;

  @include media("<=tablet") {
    font-size: 1.4rem;
  }
}
