@import "core/variables";
@import "core/typography";
@import "utils/breakpoints";
@import "utils/mixins";

.teamMember {
  padding: 1.6rem;
  border-radius: 2.4rem;
  background: $grey-0;
  display: flex;
  flex-direction: column;

  @include media("<=tablet") {
    padding: 0.8rem;
  }
}

.row {
  display: grid;
  grid-template-columns: 25fr 29fr;
  gap: 1.6rem;
  margin-bottom: 1.6rem;

  @include media("<=tablet") {
    margin-bottom: 0.8rem;
  }
}

%section {
  padding: 1.6rem;
  border-radius: 2.4rem;
  background: $secondary-grey;

  @include media("<=tablet") {
    padding: 0.8rem;
    border-radius: 1.08rem;
  }
}

.leftColumn {
  display: flex;
  @include flex-gap(1.6rem, 0);
  flex-direction: column;
}

.name {
  @extend %section;
  @include heading-5;
  color: $grey-100;
  margin-top: 0;
  @include flex-gap(0.8rem, 0);
  flex-direction: column;

  span {
    display: block;
  }

  @include media("<=tablet") {
    @include body-3;
  }
}

.role {
  @extend %section;
  @include body-1;
  color: $grey-80;

  @include media("<=tablet") {
    @include body-5;
  }
}

.comment {
  @extend %section;
  @include body-3;
  color: $grey-40;
  flex-grow: 1;
  overflow: auto;

  @include media("<=tablet") {
    font-size: 0.8rem;
    line-height: normal;
  }
}

.sectionHeader {
  @include body-3;
  color: $grey-40;
  margin-bottom: 1.6rem;

  @include media("<=tablet") {
    font-size: 0.8rem;
    line-height: normal;
    margin-bottom: 0.4rem;
  }
}

.linksSection {
  @extend %section;
  height: 10rem;
}

.links {
  display: grid;
  grid-template-columns: repeat(5, 1fr); //todo: make this break into seperate lines on mobile
  column-gap: 1.6rem;

  @include media("<=tablet") {
    column-gap: 0.8rem;
  }
}

.link {
  @include ratio(1, 1);
  width: 100%;
  display: block;

  svg {
    width: 100%;
  }
}

.quote {
  @extend %section;
  @include heading-4;
  color: $grey-100;
  flex-grow: 1;

  @include media("<=tablet") {
    @include body-1;
  }
}

.picture {
  @include ratio(360, 290);
  width: 100%;
  border-radius: 2.4rem;

  @include media("<=tablet") {
    @include ratio(172.5, 145);
    border-radius: 0.8rem;
  }
}

.spotify {
  width: 100%;
  height: 10rem;
  border-radius: 2.4rem;
  background: linear-gradient(90deg, #12c2e9 0%, #c471ed 100%);

  @include media("<=tablet") {
    border-radius: 0.8rem;
  }
}
